

<div class="inner-container"> 
<div class="row">
	<% @categories.each do |cat| %>
		<h4> <%= cat.name %> </h4>
		<hr/> 
		<div style="clear:both;"></div>		
		<% sub_cat = CategorySubCategory.where(category_id: cat.id)	%>
		<% if sub_cat.count != 0 %> 
				<% sub_cat.each do |s| %>
					<% sub_category = SubCategory.find(s.sub_category_id) %>
				 	
						<div class="category-container"> 
							<div class="category-image">
								<%= link_to image_tag(sub_category.file, size:"120x150", :crop => :fill, alt: "L&N Office System"), sub_category %> </div> 
								<div class="category-name">
								  <p>
								  	<%= link_to sub_category.name ,sub_category %> </p>
								</div>
						</div>
				<% end %>	
				<div style="clear:both;"></div>	

		<% else %>
					<% products = Product.where(category_id: cat.id) %>
					<% products.each do |p| %>
						<div class="category-container"> 
							<div class="category-image">
								<%= link_to image_tag(p.file, size:"120x150", :crop => :fill, alt: "L&N Office System"),p %>
							</div>	
							<div class="category-name"> 
								<p> <%= link_to p.title , p %> </p>
							</div>

						</div>
					<% end %> 
					 <div style="clear:both;"></div>	
		<% end %>
		
	<% end %>

</div> 

</div>