

<div class="inner-container"> 
<div class="row">
	<% @categories.each do |cat| %>
		<h4> <%= cat.name %> </h4>
		<hr/> 
		<% sub_cat = cat.sub_categories	%>
		<% if sub_cat.count != 0 %> 
				<% sub_cat.each do |s| %>
				 	
						<div class="col-md-3 category-container"> 
							<div class="category-image">
								<%= link_to image_tag(s.file, size:"230x300", :crop => :fill, alt: "L&N Office System"), s %> </div> 
								<div class="category-name">
								  <p>
								  	<%= link_to s.name ,s %> </p>
								</div>
						</div>
				<% end %>	
				<div style="clear:both;"></div>	

		<% else %>
					<div class="col-md-3 category-container"> 
							<div class="category-image">
								<%= link_to image_tag(cat.file, size:"230x300", :crop => :fill, alt: "L&N Office System"), cat %> </div> 
							<div class="category-name"> 
								<p> <%= link_to cat.name , cat %> </p>
							</div>

						</div>
				<div style="clear:both;"> </div>
		<% end %>
		
	<% end %>

</div> 

</div>