<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @contact.name %> has request for quotation/h1>
   <p>	Name : <%= @contact.name %> </p>
		<p> Telephone: <%= @contact.contact_no %> </p>
		<p>	Email: <%= @contact.email %> </p>
		<p>	Message: <%= @contact.message %> </p>
  </body>
</html>