<% provide(:title, "Contact Us") %> 

<div class="jumbotron jumbotron-sm">
  <div class = "inner-container">
  <div class="row">
    

    <div class = "col-md-6">
      <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Office & Factory </strong><br>
                 Lot 2775B, Kg Baru Sg. Buloh, <br>
                  47000 Sungai Buloh, Selangor D. E., Malaysia <br>
                <abbr title="Phone">
                    Tel:</abbr>
                  603-6156 3340 / 3527 <br>
                 <abbr title="Fax">
                    Fax:</abbr>
                  603-6157 8171 <br>
                  <abbr title="Email">lnoffsys@gmail.com </abbr>

            </address>
       <!--      <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address> -->
            </form>

    </div>



  <div class="col-md-6">

    <legend><span class="glyphicon glyphicon-user"></span> Contact Us</legend>
   <%= form_for @contact, :html => {:multipart => true} do |f| %>

   <% if @contact.errors.any? %>
    <div class="error_message"> 
      <h2> <%= pluralize(@contact.errors.count, "Error") %> Prohibited this message been send </h2>
      <ul> 
        <% @contact.errors.full_messages.each do |msg| %>

        <li> <%= msg %></li>
        <% end %> 

      </ul>
    </div>
      
    <% end %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name , class: 'form-control'%>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.label :contact_no, "Contact Number" %>
      <%= f.text_field :contact_no, class: 'form-control' %>

      <%= f.label :message, "Message" %>
      <%= f.text_area :message, class: 'form-control' %>

      <%= f.submit "Ask for Quotation", class: "btn btn-primary" %>


      <% end %>
    </div>

  </div>
</div>
</div>